body {
    font-family: 'Open Sans';
    background-image: url(../images/cafe3.jpg);
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: white;
}

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }

  .right a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 25px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
  }

  .left a {
    color: #f2f2f2;
    text-align: center;
    padding: 40px 25px;
    text-decoration: none;
    font-weight: 700;
    font-size: 60px;
    float:left;
  }

  .navbar a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.inputText, label {
    font-size:25px; 
    display: inline-block; 
    width: 100%;
    margin-bottom: 20px;
}

label {
    color: white;
}
.button {
    font-size:25px; 
    border-radius: 25px; 
    color:white; 
    background-color: black;
    
}