body {
    font-family: 'Open Sans';
    background-image: url(../images/cafe1.jpg);
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }

  .right a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 25px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
  }

  .left a {
    color: #f2f2f2;
    text-align: center;
    padding: 40px 25px;
    text-decoration: none;
    font-weight: 700;
    font-size: 60px;
    float:left;
  }

  .navbar a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: white;
    width: 30%;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 150px;
  }

  p {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    color: white;
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;

  }

  hr {
    margin: 0 auto;
    width:5%;
    height: 9px;
    border-width: 0;
    color: rgb(8, 8, 8);
    background-color: rgb(12, 12, 12)
  }

  .button {
    font-family: 'Open Sans';
    font-weight: 700;
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    font-size: 15px;
    border-radius: 50px;
    border-color: white;
    color: black;
    background-color: white;
    padding: 12px 28px;

  }