  body {
    font-family: 'Open Sans';
  }

  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
  }

  .right a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 25px;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
  }

  .left a {
    color: #f2f2f2;
    text-align: center;
    padding: 40px 25px;
    text-decoration: none;
    font-weight: 700;
    font-size: 60px;
    float:left;
  }

  .navbar a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  
  .row {
    margin-top: 90px;
    margin-left:350px;
    margin-right:150px;
    
    

  }

  .column{
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding: 40px;
  }

  

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    
  }

  th,td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid rgb(189, 185, 185)" ;

    
  }
  

  img {
    border: 1px solid rgb(189, 185, 185);
    
  }

  .button {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding:10px;
text-align: center;
text-decoration: none;

font-size:13px;
margin: 4px 2px;

border-radius: 50%;
}
